/*
===============================================================================
; Title: global.css
; Author: Professor Krasso
; Date: 17 October 2022
; Modified by: Eric McCool
; Description: These are global css rules from Web-200 to be used in Web-231 
;              assignments.
; Work Cited: Krasso, R. 2022. Web-200 Build a Webpage Exercise Parts 1-6
;             Krasso, R. 2022. JavaScript Coding Guidelines.
;             Krasso, R. 2022. Web 231 HTML, CSS, and JavaScript Requirements.
===============================================================================
*/

/* create body elements */
body {
    font-family: 'Oswald', Arial, sans-serif;}

/* create card styles */
.card {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    transition: 0.3s;}
.card-title {
    text-align: center;
    font-size: 2em;
    color: #4f3674;
    font-weight: 400;}
.card-content {
    padding: 2px 16px;}
.card:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);}

/* create button styles */
.btn {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
    color: black;}
.btn-primary {
    background-color: #4f3674;
    color: white;}
.btn-primary:hover {
    background-color: #d6a800;
    color: #4f3674;}

/* create input-box styles */
.input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;}

/* create drop-down-menu styles */
.drop-down-menu {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;}

.full-width {
    width: 100%;}

/* create form styles */
.form {
    display: inline-grid;
    grid-template-columns: auto;}
.form-field {
    padding: 20px;}

/* create styles for the return-home class in exercise-2 */
.return-home {
    color: #4f3674;
    text-decoration: none;}
.return-home:hover {
    background-color: #d6a800;
    color: #4f3674;
    text-decoration: underline;}
.return-home:visited {
    color: #3c275a;}
    