/*
===============================================================================
; Title: Assignment 9 - Card Game
; Author: Professor Krasso
; Date: 12 December, 2022
; Modified by: Eric McCool
; Description: This is Assignment 9.2 - Final: Card Game.
               Create classes for the dealer and the card, then display a
               shuffled deck.
; Works Cited: Web 231 Assignment 9.2 - Final: Card Game
;              Flanagan, 2020 - JS The Definitive Guide, functions, 
;              W3Schools - JS Tutorial, JS Functions, 
;              https://materialdesignicons.com/
;              Google Fonts.
; Notes: 
===============================================================================
*/

/* Use a border-box for every element */
* {
    box-sizing: border-box;}

/* adjust the container to narrow the cards and align the return link */
#container {
    width: 600px;
    margin: auto;}

/* Adjust the app-header */
.app-header {
    text-align: center;
    font-weight: 400;
    margin: 20px auto 40px auto;}

/* Adjust the button */
.btn {
    border-radius: 5px;
    width: 392px;
    margin-top: 40px;
    margin-bottom: 20px;}

/* Add some space between the cards */
.card {
    margin-top: 30px;
    margin-bottom: 30px;}

#alphabetString,
#resultDisplay {
    color: #000;
    text-align: center;
    font-size: 28px;}


